.province_Style li {
    list-style: none;
    float: left;
    margin-right: 10px;
    font-size: 13px;
    color: black;
}

.province_Style li:hover {
    color: aliceblue;
    background-color: aqua;
}

.w {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.w2 {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.school_Style li {
    width: 250px;
    list-style: none;
    float: left;
    font-size: 13px;
    color: #4787be;
}

.school_Style li span {
    color: black;
}